*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    /* padding: 0 20px; */
}

.header-inner{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.logo{
    margin-right: auto;
}
.nav-list{
    display: flex;
}
.nav-item:hover {
    border-bottom: 2px solid #000000;
}
.nav-item{
    margin-right: 32px;
}
.nav-item>a{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: normal;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}
.btn{
    text-decoration: none;
    background-color: #00BAFC;
    border: 2px solid #00BAFC;
    color: #FFFFFF;
    padding: 8px 16px 8px 16px;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    border-radius: 5px;
}
.nav-tel:hover{
    background-color: transparent;
    color:#00BAFC ;
    border: 2px solid #00BAFC;
    transition: 0.3s ease;
    box-sizing: content-box;
}
.hed-bx:hover{
    background-color: #33C8FD;
}
ol{
    list-style: none;
}
.hed-body{
    padding-bottom: 97px;
}
.title{
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    padding-top: 97px;
    margin: 5px 0;
}
.dec{
    width: 465px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
    margin: 16px 0;
    margin-bottom: 24px;
}


.right{
    position: relative;
}
.hed-img{
position: absolute;
width: 458px;
height: 258px;
top:75px;
right: -3px;

border-radius: 5px;
}
#xizmatlar{
    padding-top:56px;
    padding-bottom: 56px;
}
.services-title{
    text-align: center;
}
.s-title{
    text-transform: capitalize;
    font-weight:700;
    font-style: normal;
    font-size: 24px;
    line-height:31,2px;
}
.s-dec{
    width: 719px;
    margin: 0 auto ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.s-list{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    padding: 0;
} 
.s-list-item{
    width: 330px;
    height: 290px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin-left: 50px;
    margin-bottom: 48px;
}
.s-list-item:hover{
    background: #FFFFFF;
box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}
.list-title:before{
    content: "";
    background: url(../img/xizmatlar/website.svg);
    background-repeat: no-repeat;
    background-size: 326px 139px;
    width: 100%;
    height: 171px;
    display: block;
}
.list-too:before{
    background: url(../img/xizmatlar/bot.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.list-three:before{
    background: url(../img/xizmatlar/smm.svg);
    background-repeat: no-repeat;
    background-size: 326px 139px;
}

.list-for:before{
    background: url(../img/xizmatlar/grafic-design.svg);
    background-repeat: no-repeat;
    background-size: 326px 139px;
}

.list-five:before{
    background: url(../img/xizmatlar/crm-tizimlri.svg);
    background-repeat: no-repeat;
    background-size: 326px 139px;
}
.services-link{
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}
.btn-link{
    margin-left: 16px;
}

#about{

    padding-top:56px;
    padding-bottom: 56px;
}

.about-title{
    text-align: center;
}
.a-title{
    text-align: center;
    text-transform: capitalize;
    font-weight:700;
    font-style: normal;
    font-size: 24px;
    line-height:130%;
}
.step{
    width: 100%;
    padding: 0;
    justify-content: center;
}
.about-list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.about-list-item:before{
    content: "";
    background: url(../img/step/step-one.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 278px;
    display: block;
}

.about-list-too:before{
    background: url(../img/step/step-too.svg);
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: row-reverse;
}
.about-list-three:before{
    background: url(../img/step/step-three.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.about-list-for:before{
    background: url(../img/step/step-for.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.about-list-five:before{
    background: url(../img/step/step-five.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.about-list-too,
.about-list-for{
    margin-left: 155px;
    width: 832px;
    flex-direction: row-reverse;
}
.col{
    margin-left: 20px;
}
.about-link{
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}
#contact{
    padding-top:56px;
    padding-bottom: 56px;
    background-color: #00BAFC;
}
.c-title{
    text-align: center;
    text-transform: capitalize;
    font-weight:700;
    font-style: normal;
    font-size: 24px;
    line-height:31,2px;
    color: #FFFFFF;
}
.c-dec{
    width: 719px;
    margin: 0 auto ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.forma{
    padding-top: 24px;
    margin: 0 auto;
}

form{
    width: 348px;
    height: 304px;
    margin-top: 15px;
    padding: 25px 25px;
    background: #FFFFFF;
border-radius: 5px;
}
.input-item{
    width: 300px;
    height: 50px;
    margin:10px 0 10px 0;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background: #F3F3F3;
    border-radius: 5px;
    padding: 16px;
}
.input-item:hover{
    border: 2px solid #5E54A4;
    box-shadow: 3px  5px 3px rgba(0, 0, 0, 0.1);
box-sizing: border-box;
border-radius: 5px;
    
}
input{
    padding: 0;
}

.input-btn{
    padding: 15px 131px 15px 131px;
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 26px;
letter-spacing: 1px;
color: #FFFFFF;
background: #38CC8B;
border: 1px solid rgba(0, 0, 0, 0);
box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
border-radius: 5px;
}
.input-btn:hover{
border: 1px solid rgba(0, 0, 0, 0);
box-shadow: 3px  5px 3px rgba(0, 0, 0, 0.1);
}

.butn{
    padding-top: 15px;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-bottom: 32px;
}
.submit{
    border: none;
}
.butn p{
    padding: 5px;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 26px;
text-align: center;
color: #BAB7D4;
}
.butn p a{
    text-decoration: none;
    font-weight: 700;
    color: rgba(255, 99, 71, 0.774);
}
footer{
    padding-top:56px;
    padding-bottom: 56px;
    background-color:#191919;
    color: #FFFFFF;
}
.footer-dec{
  width: 320px;
}
.footer-link ul{
padding: 0;
}
.nav>a{
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}
.f-link{
    padding: 0;
    padding-top: 8px;
    margin-left: 15px;
}
.net-link{
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.net-link:before{
    content: "";
    background: url(../img/logo/telegram.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 23.25px;
    display: block;
    padding-left: 8px;
}
.too:before{
    background: url(../img/logo/facebook.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.three:before{
    background: url(../img/logo/instagram.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.nav a:hover{
    color: #03A6DF;
}
.net-link a:hover{
    color: #03A6DF;
}